<!-- templates/index.html -->  
<html>  
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <!--
    <h1>{{message}}</h1>
	<img src="/static/{{image}}" alt="Related Book 1" width="512px" height="512px">
	-->
	<h1>You uploaded {{ captcha }}<h1>
	<img src="/static/{{captcha}}.png" alt="Related Book 1" width="210px" height="60px"><br>

	<h1>Splitted items<h1>
	<img src="/static/{{captcha}}_1.bmp" alt="Related Book 1"><br>
	<img src="/static/{{captcha}}_2.bmp" alt="Related Book 1"><br>
	<img src="/static/{{captcha}}_3.bmp" alt="Related Book 1"><br>
	<img src="/static/{{captcha}}_4.bmp" alt="Related Book 1"><br>

	<h1>Recognized number<h1>


  </body>
</html>